
@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


* {
box-sizing: border-box;
margin: 0;
padding: 0;
}


/* STYLING */


section{
    padding-top: 15%;
    padding-bottom: 15%;
}


